In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
url = "https://stockanalysis.com/list/highest-revenue/"
response = requests.get(url)

In [4]:
inform = BeautifulSoup(response.text, "html")

with open("stockanalysis.txt", "w", encoding = 'utf-8') as file:
    file.write(str(inform))
print("Stock analysis html saves as stockanalysis.txt")

Stock analysis html saves as stockanalysis.txt

In [5]:
try:
    if inform:
        titles = inform.find_all("th")
    else:
        print("Table not found.")
except AttributeError:
    print("AttributeError found.")

In [6]:
title = [tt.text.strip() for tt in titles]
title

['No.',
 'Symbol',
 'Company Name',
 'Revenue',
 'Stock Price',
 '% Change',
 'Market Cap']

In [7]:
df = pd.DataFrame(columns=title)
df

Empty DataFrame
Columns: [No., Symbol, Company Name, Revenue, Stock Price, % Change, Market Cap]
Index: []

In [8]:
rows = inform.find_all("tr")
all_table_data = []
for row in rows[1:]:
    row_data = row.find_all("td")
    clean_row_data = [data.text.strip() for data in row_data]
    all_table_data.append(clean_row_data)

In [9]:
df = pd.DataFrame(all_table_data, columns=title)

In [10]:
df.head()

,No.,Symbol,Company Name,Revenue,Stock Price,% Change,Market Cap
0,1,WMT,Walmart Inc.,648.13B,60.14,0.08%,484.29B
1,2,AMZN,"Amazon.com, Inc.",574.79B,186.13,-1.54%,"1,933.41B"
2,3,BRK.B,Berkshire Hathaway Inc.,439.34B,403.26,-1.07%,872.57B
3,4,AAPL,Apple Inc,385.71B,176.55,0.86%,"2,726.27B"
4,5,UNH,UnitedHealth Group Incorporated,371.62B,439.20,-0.57%,404.91B

In [11]:
df.to_csv("companies_usa.csv", index=False)