In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://stockanalysis.com/list/highest-revenue/"
response = requests.get(url)

In [3]:
inform = BeautifulSoup(response.text, "html")

In [4]:
try:
    if inform:
        titles = inform.find_all("th")
    else:
        print("Table not found.")
except AttributeError:
    print("AttributeError found.")

In [5]:
title = [tt.text.strip() for tt in titles]
title

['No.',
 'Symbol',
 'Company Name',
 'Revenue',
 'Stock Price',
 '% Change',
 'Market Cap']

In [6]:
df = pd.DataFrame(columns=title)
df

Empty DataFrame
Columns: [No., Symbol, Company Name, Revenue, Stock Price, % Change, Market Cap]
Index: []

In [7]:
rows = inform.find_all("tr")
all_table_data = []
for row in rows[1:]:
    row_data = row.find_all("td")
    clean_row_data = [data.text.strip() for data in row_data]
    all_table_data.append(clean_row_data)

In [8]:
df = pd.DataFrame(all_table_data, columns=title)

In [9]:
df.head()

,No.,Symbol,Company Name,Revenue,Stock Price,% Change,Market Cap
0,1,WMT,Walmart Inc.,648.13B,60.62,1.39%,488.16B
1,2,AMZN,"Amazon.com, Inc.",574.79B,185.95,0.15%,"1,931.54B"
2,3,BRK.B,Berkshire Hathaway Inc.,439.34B,409.11,-1.35%,884.96B
3,4,AAPL,Apple Inc,385.71B,167.78,-1.11%,"2,590.84B"
4,5,UNH,UnitedHealth Group Incorporated,371.62B,450.05,-2.10%,414.92B

In [10]:
df.to_csv("companies_usa.csv", index=False)