In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
url = "https://www.imdb.com/list/ls566941243/"
response = requests.get(url)

In [4]:
soup = BeautifulSoup(response.text, "html")

In [5]:
with open("imdb.txt", "w", encoding="UTF-8") as file:
    file.write(str(soup))
print("Soup has been extracted to imdb.txt.")

Soup has been extracted to imdb.txt.

In [24]:
movies_data = []
for movie in soup.find_all("div", class_="lister-item-content"):
    title = movie.find("a").text
    genre = movie.find("span", class_="genre").text.strip()
    stars = movie.find("div", class_="ipl-rating-star").find("span", class_='ipl-rating-star__rating').text
    runtime = movie.find("span", class_="runtime").text
    rating = movie.find("span", class_="ipl-rating-star__rating").text
    metascore = movie.find("span", class_="metascore favourable") and movie.find("span", class_="metascore favourable").text or None
    votes = movie.find("span", text="Votes:").find_next("span").text

    gross_element = movie.find('span', text='Gross:')
    gross_value = gross_element.find_next('span').text if gross_element else "N/A"
    # gross_value = movie.find('span', text='Gross:').find_next('span').text
    movies_data.append([title, genre, stars, runtime, rating, metascore, votes, gross_value])

In [30]:
df = pd.DataFrame(movies_data, columns = ["Title", "Genre", "Stars", "Runtime", "Rating", "MetaScore", "Votes", "Gross_value"])
df.head()

,Title,Genre,Stars,Runtime,Rating,MetaScore,Votes,Gross_value
0,Bullet Train,"Action, Comedy, Thriller",7.3,127 min,7.3,None,"424,602",$103.37M
1,Emancipation,"Action, Thriller",6.2,132 min,6.2,None,"27,028",N/A
2,Violent Night,"Action, Comedy, Thriller",6.7,112 min,6.7,None,"98,771",$50.06M
3,Top Gun: Maverick,"Action, Drama",8.2,130 min,8.2,None,"692,609",$718.73M
4,The Batman,"Action, Crime, Drama",7.8,176 min,7.8,None,"784,287",$369.35M

In [31]:
df = df.drop(["MetaScore"], axis=1)
df.to_csv("movies.csv", index=False)

In [32]:
print("Shape: ",df.shape)

Shape:  (100, 7)