In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
url = "https://www.imdb.com/list/ls566941243/"
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, "html")

In [6]:
with open("imdb.txt", "w", encoding="UTF-8") as file:
    file.write(str(soup))
print("Soup has been extracted to imdb.txt.")

Soup has been extracted to imdb.txt.

In [7]:
movies_data = []
for movie in soup.find_all("div", class_="lister-item-content"):
    title = movie.find("a").text
    genre = movie.find("span", class_="genre").text.strip()
    stars = movie.find("div", class_="ipl-rating-star").find("span", class_='ipl-rating-star__rating').text
    runtime = movie.find("span", class_="runtime").text
    rating = movie.find("span", class_="ipl-rating-star__rating").text
    movies_data.append([title, genre, stars, runtime, rating])

In [8]:
df = pd.DataFrame(movies_data, columns = ["Title", "Genre", "Stars", "Runtime", "Rating"])
df.head()

               Title                     Genre Stars  Runtime Rating
0       Bullet Train  Action, Comedy, Thriller   7.3  127 min    7.3
1       Emancipation          Action, Thriller   6.2  132 min    6.2
2      Violent Night  Action, Comedy, Thriller   6.7  112 min    6.7
3  Top Gun: Maverick             Action, Drama   8.2  130 min    8.2
4         The Batman      Action, Crime, Drama   7.8  176 min    7.8

In [9]:
df.to_csv("movies.csv", index=False)